<h1>Test#four</h1>
<p>Find me in app/views/test/four.html.erb</p>
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/test/one">One</a></li>
    <li><a href="/test/two">Two</a></li>
    <li><a href="/test/three">Three</a></li>
    <li>Four</li>
</ul>
