<h1>Test#two</h1>
<p>Find me in app/views/test/two.html.erb</p>
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="/test/one">One</a></li>
    <li>Two</li>
    <li><a href="/test/three">Three</a></li>
    <li><a href="/test/four">Four</a></li>
</ul>